# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Large model checkpoints
*.h5
*.ckpt

# Notebooks
.ipynb_checkpoints/
notebooks/
 
# Datasets and data (do not push large datasets)
dataset/
data/

# Ignore outputs by default, but allow Week3 outputs explicitly
outputs/
Week1/outputs/
Week2/outputs/
!Week3/outputs/
!Week3/outputs/**

# Keep safe sample images (if you want them tracked)
sample_images/
Week3/temp.jpg